@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');

*{
    font-family: "Roboto", sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    padding: 2rem;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.29);
}

.searchBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >form{
        display: flex;
        flex-direction: column;
        width: 30%;
        
    }
}

.infoBox{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    >div{
        width: 30%;
        >p{
            font-size: larger;
            font-weight: 700;
        }
    }
}
@media only screen and (max-width: 768px) {
    body{
        padding: 1rem;
        }
        
    .searchBox{
        >form{
            width: 95%;
        }
    }
    .infoBox{
        >div{
            width: 100%;
        }
    }
  }